*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    height: 300px;
    object-fit: contain;

    margin: 0;
}

.productContainer{
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: center;
}

.productCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;


}
  
    
.imgContainer{
    width: 300px;
    height: fit-content;
    margin: 0;
}

.bodyCard{
    width: 200px;

    
}
.busqueda{
    width: 70vw;
    margin-left: 200px;
}

.mainContainer{
    display: flex;

}

.extra{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}